@import 'tailwindcss';

:root {
  --paper: #f4f0e8;
  --stone: #242628;
  --primary: #ffc65f;
  --on-paper: #222222;
  --on-stone: #f4f0e8;
  --on-primary: #242628;

  color: var(--on-paper);
  font-family: var(--rk-font-family-base);
  font-synthesis: none;
  text-rendering: geometricprecision;
}

@theme inline {
  --color-paper: var(--paper);
  --color-stone: var(--stone);
  --color-primary: var(--primary);
  --color-on-paper: var(--on-paper);
  --color-on-stone: var(--on-stone);
  --color-on-primary: var(--on-primary);
  --font-roco: var(--rk-font-family-base);
}

@layer base {
  body {
    @apply bg-paper text-on-paper;
  }
  #app {
    @apply min-h-svh;
  }
}
